/* Variables
   ========================================================================== */

/* Fonts */
$primary-font-stack: Helvetica, sans-serif;
$secondary-font-stack: Georgia, serif;

/* Sizes */
$base-font-size: 125%; /* 16px */
$base-line-height: 150%; /* 24px */
$base-font-weight: 400;

$small-font-size: 87.5%; /* 14px */


/* Colors */
$primary-color: green;
$secondary-color: purple;

/* Breakpoints */
