$theme-1-primary-color: #005c95;
$theme-1-complementary-color: #fabb00;

$theme-1-theme-color-dark: #094e79;
$theme-1-theme-color-darkest: #06304a;
$theme-1-theme-color-light: #d7f0ff;

$theme-1-theme-cta-color: #278900;
