$theme-color: #a7022c;
$theme-on-color: #fff;
$theme-color-dark: #840928;
$theme-color-darkest: #4b0706;
$theme-color-light: #d7f0ff;
$theme-link-color: #a7022c;
$theme-focus-color: #fabb00;
$theme-color-complementary: #00B219;
