$theme-color: #2d5f18;
$theme-on-color: #fff;
$theme-color-dark: #245012;
$theme-color-darkest: #103404;
$theme-color-light: #d7f0ff;
$theme-link-color: #2d5f18;
$theme-focus-color: #fabb00;
$theme-color-complementary: #B200A5;
