/* Tables
   ========================================================================== */

table {
	width: 100%;
}

caption {
	text-align: left;
}

td,
th {
	vertical-align: top;
}

th {
	text-align: left;
	font-weight: 700;
	vertical-align: middle;
}
