/* Elements - Links
   ========================================================================== */

a {
	text-decoration: underline;

	@if variable-exists(theme-1-primary-color) {
		$color: $theme-1-primary-color;
	}

	@if variable-exists(theme-2-primary-color) {
		$color: $theme-2-primary-color;
	}

	@if variable-exists(theme-3-primary-color) {
		$color: $theme-3-primary-color;
	}

	$color: $primary-text-color !default;
	color: $color;
}

a:active,
a:hover {
	text-decoration: none;

	$color: $primary-text-color !default;
	color: darken($color, 30%);
}

/**
 * Improve visibility when focused.
 */
a:focus {
	outline: none;
	text-decoration: none;

	@if variable-exists(theme-1-primary-color) {
		$background: $theme-1-primary-color;
		color: #fff;
	}

	@if variable-exists(theme-2-primary-color) {
		$background: $theme-2-primary-color;
		color: #fff;
	}

	@if variable-exists(theme-3-primary-color) {
		$background: $theme-3-primary-color;
		color: #fff;
	}

	$background: $primary-text-color !default;
	background-color: $background;
}


/**
 * New window message when using target blank.
 */
html[lang=sv] a[target="_blank"]:after {
	content:" (nytt fönster)";
}

html[lang=en] a[target="_blank"]:after {
	content:" (new window)"
}
