/* Elements - Links
   ========================================================================== */

a {
	text-decoration: underline;
	color: $theme-link-color;
}

a:active,
a:hover {
	text-decoration: none;
	color: darken($theme-text-color, 30%);
}

/**
 * Improve visibility when focused.
 */
a:focus {
	outline: none;
	text-decoration: none;
	color: $theme-focus-color;
	background-color: $theme-link-color;
}


/**
 * New window message when using target blank.
 */
html[lang=sv] a[target="_blank"]:after {
	content:" (nytt fönster)";
}

html[lang=en] a[target="_blank"]:after {
	content:" (new window)"
}
