/* Elements - Tables
   ========================================================================== */

/**
 * 1. Remove most spacing between table cells.
 */

table {
	width: 100%;
  border-collapse: collapse; /* 1. (normalize) */
  border-spacing: 0; /* 1. (normalize) */
}

caption {
	text-align: left;
}

td,
th {
  padding: 0; /* (normalize) */
	vertical-align: top;
}

th {
	text-align: left;
	font-weight: 700;
	vertical-align: middle;
}
