/* Elements - Typography
   ========================================================================== */

html {
	font-family: $primary-font-stack;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $primary-text-color;
}

body {
	-webkit-font-smoothing: antialiased;
	background: #f4f4f4;
}

p,
ul,
ol {
	margin: 0 0 1.25rem;
}

@media screen and (min-width: $large) and (max-width: $extra-large) {

	html {
		font-size: 1.125rem;
	}
}

@media screen and (min-width: $extra-large) {

	html {
		font-size: 1.25rem;
	}
}

.vgr-lead {
	margin: 0 0 1.25rem;
	font-size: 1.1rem;
	font-family: $secondary-font-stack;
	line-height: $base-line-height;
}

h1 + .vgr-lead {
	margin-top: -.625rem;
}

.vgr-subhead {
	margin: 0 0 1.25rem;
	font-size: 1.1rem;
	font-family: $secondary-font-stack;
	color: lighten($primary-text-color, 20%);
	line-height: $base-line-height;
}

h1 + .subhead {
	margin-top: -.625rem;
}


sub,
sup {
	position: relative;
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	font-size: 75%;
}

sup {
	bottom:1ex;
}

sub {
	top:0.5ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $secondary-font-stack;
	margin: 1.5rem 0 .5rem;
	line-height: 125%;
}

h1 {
	margin: 0 0 1.25rem;
	font-size: $h1;
	font-weight: 700;
}

h2 {
	margin: 2rem 0 .5rem;
	font-size: $h2;
	font-weight: 400;
}

h3 {
	margin: 2rem 0 .5rem;
	font-size: $h3;
	font-weight: bold;
}

h4 {
	margin: 2rem 0 .5rem;
	font-size: $h4;
	font-weight: bold;
}

h5 {
	margin: 2rem 0 .5rem;
	font-size: $h5;
	font-weight: bold;
}

h6 {
	margin: 2rem 0 .5rem;
	font-size: $h6;
	font-weight: bold;
}

hr {
	margin: 2.5rem 0;
	border: 0;
	border-top: 1px dashed #8c8b8b;
}

ul {
	list-style-type: square;

	ul {
		margin: 0;
	}

	li {
		margin: .5rem 0;
	}
}

ol {

	ul {
		margin: 0;
	}

	li {
		margin: .5rem 0;
	}
}

blockquote {
	padding: 0 1.25rem;

	@if variable-exists(theme-1-primary-color) {
		$border-color: $theme-1-primary-color;
	}

	@if variable-exists(theme-2-primary-color) {
		$border-color: $theme-2-primary-color;
	}

	@if variable-exists(theme-3-primary-color) {
		$border-color: $theme-3-primary-color;
	}

	@if variable-exists(theme-4-primary-color) {
		$border-color: $theme-4-primary-color;
	}

	@if variable-exists(theme-5-primary-color) {
		$border-color: $theme-5-primary-color;
	}

	$border-color: $primary-text-color !default;
	border-left: 4px solid $border-color;
}

.pullquote {
	border: 0;
	padding: 0 1.25rem;
	margin: 1.25rem 0;
	font-style: italic;
	color: lighten($primary-text-color, 10%);

	@media screen and (min-width: 640px) {
		padding: 0 1.25rem;
		margin: 2.5rem 0;
	}
}

.article--meta {
	margin: 2.5rem 0 0;
	padding: 1.25rem 0;
	border-top: 1px solid lighten($primary-text-color, 60%);
	font-family: $secondary-font-stack;
	font-size: 90%;
}

.vgr {
	&__list-inline {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
		}
	}

}
abbr {
	cursor: help;
}


.block-list {
	margin: 1.25rem 0;
	font-family: $secondary-font-stack;
	font-size: 80%;
	padding: 1rem;
	background: lighten($primary-text-color, 70%);

	.headline {
		margin: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: .25rem 0;
	}

	li:not(:last-child) {
		border-bottom: 1px solid lighten($primary-text-color, 60%);
	}

	a {
		text-decoration: none;
	}
}

.article__read-more {
	font-family: $secondary-font-stack;
	text-decoration: none;

	&:before {
		content: "➧ ";

		@if variable-exists(theme-1-primary-color) {
			$color: $theme-1-primary-color;
		}

		@if variable-exists(theme-2-primary-color) {
			$color: $theme-2-primary-color;
		}

		@if variable-exists(theme-3-primary-color) {
			$color: $theme-3-primary-color;
		}

		@if variable-exists(theme-4-primary-color) {
			$color: $theme-4-primary-color;
		}

		@if variable-exists(theme-5-primary-color) {
			$color: $theme-5-primary-color;
		}

		$color: $primary-text-color !default;
		color: $color;
	}
}
.article__inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block__info {
	margin: 1.25rem 0;
	font-family: $secondary-font-stack;
	font-size: 80%;
	padding: 1rem;
	border-radius: 4px;

	@if variable-exists(theme-1-primary-color) {
		$background: $theme-1-primary-color;
		color: $color-lightest;
	}

	@if variable-exists(theme-2-primary-color) {
		$background: $theme-2-primary-color;
		color: $color-lightest;
	}

	@if variable-exists(theme-3-primary-color) {
		$background: $theme-3-primary-color;
		color: $color-lightest;
	}

	@if variable-exists(theme-4-primary-color) {
		$background: $theme-4-primary-color;
	}

	@if variable-exists(theme-5-primary-color) {
		$background: $theme-5-primary-color;
		color: $color-lightest;
	}

	$background: $primary-text-color !default;
	background-color: $background;

	p:last-child {
		margin-bottom: 0;
	}
}
