/* Elements - Typography
   ========================================================================== */

html {
	color: $text-color;
	font-size: $base-font-size;
	font-family: $primary-font-stack;
	line-height: $base-line-height;
}

body {
	background: #f4f4f4;
}

p,
ul,
ol {
	margin: 0 0 1.25rem;
}

@media screen and (min-width: $large) and (max-width: $extra-large) {

	html {
		font-size: 1.125rem;
	}
}

@media screen and (min-width: $extra-large) {

	html {
		font-size: 1.25rem;
	}
}

.vgr-lead {
	margin: 0 0 1.25rem;
	font-size: 1.1rem;
	font-family: $secondary-font-stack;
	line-height: $base-line-height;
}

h1 + .vgr-lead {
	margin-top: -.625rem;
}

.vgr-subhead {
	margin: 0 0 1.25rem;
	color: lighten($text-color, 20%);
	font-size: 1.1rem;
	font-family: $secondary-font-stack;
	line-height: $base-line-height;
}

h1 + .subhead {
	margin-top: -.625rem;
}


sub,
sup {
	position: relative;
	height: 0;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 1;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.5rem 0 .5rem;
	font-family: $secondary-font-stack;
	line-height: 125%;
}

h1 {
	margin: 0 0 1.25rem;
	font-weight: 700;
	font-size: $h1;
}

h2 {
	margin: 2rem 0 .5rem;
	font-weight: 400;
	font-size: $h2;
}

h3 {
	margin: 2rem 0 .5rem;
	font-weight: 700;
	font-size: $h3;
}

h4 {
	margin: 2rem 0 .5rem;
	font-weight: 700;
	font-size: $h4;
}

h5 {
	margin: 2rem 0 .5rem;
	font-weight: 700;
	font-size: $h5;
}

h6 {
	margin: 2rem 0 .5rem;
	font-weight: 700;
	font-size: $h6;
}

hr {
	margin: 2.5rem 0;
	border: 0;
	border-top: 1px dashed #8c8b8b;
}

ul {
	list-style-type: square;

	ul {
		margin: 0;
	}

	li {
		margin: .5rem 0;
	}
}

ol {

	ul {
		margin: 0;
	}

	li {
		margin: .5rem 0;
	}
}

blockquote {
	padding: 0 1.25rem;
	border-left: 4px solid $theme-color;
}

.pullquote {
	margin: 1.25rem 0;
	padding: 0 1.25rem;
	border: 0;
	color: lighten($text-color, 10%);
	font-style: italic;

	@media screen and (min-width: 640px) {
		margin: 2.5rem 0;
		padding: 0 1.25rem;
	}
}

.article--meta {
	margin: 2.5rem 0 0;
	padding: 1.25rem 0;
	border-top: 1px solid lighten($text-color, 60%);
	font-size: 90%;
	font-family: $secondary-font-stack;
}

.vgr {

	&__list-inline {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
		}
	}
}
abbr {
	cursor: help;
}


.block-list {
	margin: 1.25rem 0;
	padding: 1rem;
	background: lighten($text-color, 70%);
	font-size: 80%;
	font-family: $secondary-font-stack;

	.headline {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		padding: .25rem 0;
	}

	li:not(:last-child) {
		border-bottom: 1px solid lighten($text-color, 60%);
	}

	a {
		text-decoration: none;
	}
}

.article__read-more {
	text-decoration: none;
	font-family: $secondary-font-stack;

	&::before {
		color: $theme-color;
		content: "➧ ";
	}
}
.article__inline-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.block__info {
	margin: 1.25rem 0;
	padding: 1rem;
	border-radius: 4px;
	background-color: $theme-color;
	font-size: 80%;
	font-family: $secondary-font-stack;

	p:last-child {
		margin-bottom: 0;
	}
}
