/* TODO move from grid when demo is done */
.grid__item {
	> .block {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;

		/* Remove all padding from block */

		&--no-space {
			padding: 0;
		}

		&--align-top {
			justify-content: flex-start;
			align-items: center;
		}

		&--align-top-left {
			justify-content: flex-start;
			align-items: flex-start;
		}

		&--align-top-right {
			justify-content: flex-start;
			align-items: flex-end;
		}

		&--align-bottom {
			justify-content: flex-end;
			align-items: center;
		}


		&--align-bottom-left {
			justify-content: flex-end;
			align-items: flex-start;
		}

		&--align-bottom-right {
			justify-content: flex-end;
			align-items: flex-end;
		}
	}
}
