.vgr-breadcrumbs {
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 87.5%;
	font-family: $secondary-font-stack;

	&__description {
		display: inline;
		font-weight: 700;
	}

	&__list {
		display: inline;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list-item {
		display: inline;

		&:not(:last-child):after {
			color: $text-color;
			content: " /";
		}
	}

	&__list-link:not(span) {
		color: $theme-color;
		text-decoration: underline;

		&:hover {
			color: $text-color;
		}
	}
}
