.secondary-navigation {
	position: relative;
	margin-bottom: 1.5rem;
	border: 1px solid $color-gray-lightest;
	border-radius: 3px;
	background-color: $color-white;
	word-wrap: break-word;
	font-family: $secondary-font-stack;

	&__header {
		background-color: $theme-color;

		.headline,
		a {
			color: $theme-color;
		}

		.headline {
			margin: 0;
			padding: 1rem;
			font-weight: 700;
			font-size: 1.125rem;
			line-height: 150%;
		}

		a {
			display: block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__content {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin: 0;
			border-top: 1px solid #ddd;

			&:first-child {
				border-top: none;
			}
		}

		li li a {
			padding-left: 20px;
		}

		li li li a {
			padding-left: 30px;
		}

		li li li li a {
			padding-left: 40px;
		}


		[data-selected] {
			background: #d7f0ff;
		}

		[data-hasChildren]::after,
		[data-isExpanded]::after {
			position: absolute;
			right: 10px;
			content: "▶";
		}

		[data-isExpanded]::after {
			content: "▼";
		}

		a {
			display: block;
			padding: .4em 2rem .4em .4em;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
