/* Trumps - Aligmnent
   ========================================================================== */

.vgr-align-left {
	float: left;
}

.vgr-align-right {
	float: right;
}

.vgr-align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
