/* Objects - Badges
   ========================================================================== */

.vgr-badge {
	font-family: $secondary-font-stack;
	font-style: normal;

	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;

	&--default {
		background-color: $color-default;
		color: $color-lightest;
	}

	&--success {
		background-color: $color-success;
		color: darken($color-success, 60%);
	}

	&--primary {
		background-color: $vgr-theme-1-primary-color;
		color: $color-lightest;
	}

	&--warning {
		background-color: $color-warning;
		color: darken($color-warning, 70%);
	}

	&--error {
		background-color: $color-error;
		color: darken($color-error, 60%);
	}

	&--info {
		background-color: $color-info;
		color: darken($color-info, 60%);
	}

	&__icon {
		fill: currentColor;
		width: 15px;
		height: 15px;
		vertical-align: top;
	}
}
