.vgr-button {
	display: inline-block;
	padding: .5rem 1rem;
	border-width: 0;
	border-radius: 2px;
	background-color: $theme-color;
	color: $theme-on-color;
	text-decoration: none;
	font-family: $secondary-font-stack;
	line-height: $base-line-height;

	.vgr-icon {
		width: 1em;
		height: 1em;
		vertical-align: middle;
	}

	&__icon {
		padding-left: .5rem;
	}

	&:hover,
	&:focus {
		background-color: darken($theme-color, 20%);
		color: $theme-on-color;
	}

	&--large {
		padding: 1rem 1.5rem;
		font-size: 125%;
	}

	&--small {
		padding: .25rem .5rem;
		font-size: 90%;
	}

	&--inactive {
		cursor: not-allowed;
		background-color: $color-gray-lightest;
		color: $color-black;

		&:hover,
		&:focus {
			background-color: $color-gray-lightest;
			color: $color-black;
		}
	}
}

.vgr-button--complementary {
	background-color: $theme-color-complementary;
	color: $theme-on-color;

	&:hover,
	&:focus {
		background-color: darken($theme-color-complementary, 20%);
		color: $theme-on-color;
	}
}

.vgr-button--secondary {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.vgr-button--subtle {
	background-color: $color-white;
	color: $color-black;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
