.vgr-button {
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: 2px;
	line-height: $base-line-height;
	text-decoration: none;
	font-family: $secondary-font-stack;
	border-width: 0;

	.vgr-icon {
		width: 1em;
		height: 1em;
		vertical-align: middle;
	}

	&__icon {
		padding-left: .5rem;
	}

	color: $theme-link-color;
	background-color: $theme-color;

	&:hover,
	&:focus {
		$color: $color-lightest !default;
		color: $color;
		text-decoration: none;
		background: darken($background-color, 20%);
	}

	&--large {
		font-size: 125%;
		padding: 1rem 1.5rem;
	}

	&--small {
		font-size: 90%;
		padding: .25rem .5rem;
	}
}

.vgr-button--secondary {

	&:hover,
	&:focus {
		$color: $color-lightest !default;
		color: $color;
		text-decoration: none;
		background: darken($background-color, 20%);
	}
}

.vgr-button--subtle {
	background-color: $color-lightest;
	color: $color-darkest;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}
