/* Elements - Images
 * 1. Fluid images for responsive purposes.
 * 2. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 * 3. Keep correct aspect ratio when img is scaled down based on parent width.
   ========================================================================== */

img {
	max-width: 100%; /* 1 */
	vertical-align: middle; /* 2 */
}
img[height] {
	height: auto; /* 3 */
}

.vgr-figure {
	display: table;
	margin: 0;

	> img {
		display: block;
	}

	> figcaption {
		display: table-caption;
		padding: 1rem;
		background: $color-gray-lightest;
		caption-side: bottom;
		font-family: $secondary-font-stack;
	}
}
