/* Objects - Table
 *
 * Extends `<table>` with:
 *
 * Table
 * Zebra
 * Bordered
   ========================================================================== */

.vgr-table {
	margin-bottom: $default-whitespace;
	width: 100%;
	font-family: $secondary-font-stack;
	border-collapse: collapse;
	background: $color-white;

	caption {
		margin-bottom: $default-whitespace;
		text-align: left;
	}

	thead {
		border-bottom: 2px solid $color-gray-base;

		th {
			vertical-align: middle;
			text-align: left;
			font-weight: 700;
			background-color: $theme-color;
			color: $theme-on-color;
		}
	}

	td,
	th {
		padding: .3rem;
		vertical-align: top;
	}

	tbody {
		td,
		th {
			border-bottom: 1px solid $color-gray-lightest;
		}
	}
}


/* Zebra */
.vgr-table--zebra {
	tbody tr:nth-child(odd) {
		background: $color-gray-lightest;
	}
}


/* Bordered */
.vgr-table--bordered {
	tbody,
	thead {
		td,
		th {
			border: 1px solid $color-gray-base;
		}
	}
}


/* Scrollable */
.vgr-scrollable {
	overflow: scroll;
}
