/* Objects - Table
 *
 * Extends `<table>` with:
 *
 * Table
 * Zebra
 * Bordered
   ========================================================================== */

.vgr-table {
	width: 100%;
	font-family: $secondary-font-stack;
	margin-bottom: $default-whitespace;

	caption {
		text-align: left;
		margin-bottom: $default-whitespace;
	}

	thead {
		border-bottom: 2px solid $color-gray;

		th {
			text-align: left;
			font-weight: 700;
			vertical-align: middle;
		}
	}

	td,
	th {
		vertical-align: top;
		padding: 0.3rem;
	}

	tbody {
		td,
		th {
			border-bottom: 1px solid $color-lightest-gray;
		}
	}
}


/* Zebra */
.vgr-table--zebra {
	tbody tr:nth-child(odd) {
		background: $color-lightest-gray;
	}
}


/* Bordered */
.vgr-table--bordered {

	tbody,
	thead {
		td,
		th {
			border: 1px solid $color-gray;
		}
	}
}


/* Scrollable */
.vgr-scrollable {
	overflow: scroll;
}
