/* Objects - Table
 *
 * Extends `<table>` with:
 *
 * Table
 * Zebra
 * Bordered
   ========================================================================== */

.vgr-table {
	width: 100%;
	font-family: $secondary-font-stack;

	caption {
		text-align: left;
	}

	thead {
		border-bottom: 2px solid $color-gray;

		th {
			text-align: left;
			font-weight: 700;
			vertical-align: middle;
		}
	}

	td,
	th {
		vertical-align: top;
		padding: 0.2rem;
	}

	tbody {
		td,
		th {
			border-bottom: 1px solid $color-lightest-gray;
		}
	}
}


/* Zebra */
.vgr-table--zebra {
	tbody tr:nth-child(odd) {
		@if variable-exists(theme-1-primary-color) {
			$background: $theme-1-primary-color;
		}

		@if variable-exists(theme-2-primary-color) {
			$background: $theme-2-primary-color;
		}

		@if variable-exists(theme-3-primary-color) {
			$background: $theme-3-primary-color;
		}

		@if variable-exists(theme-4-primary-color) {
			$background: $theme-4-primary-color;
		}

		@if variable-exists(theme-5-primary-color) {
			$background: $theme-5-primary-color;
		}

		$background: $primary-text-color !default;
		background: $background;
	}
}


/* Bordered */
.vgr-table--bordered {
	th,
	td {
		//border: 1px solid $primary-color-1;
	}
}

/* Hover */
.vgr-table--hover {
	tbody tr:hover {
		//background: $primary-color-1;
	}
}


/* Scrollable */
.vgr-scrollable {
	overflow: scroll;
}
