/* Objects - Wrapper
 *
 * Limits width and centers container on page.
   ========================================================================== */

.vgr-wrapper {
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-right: $default-whitespace;
	padding-left: $default-whitespace;
	max-width: $max-width;
}
