.vgr {
	&-breadcrumbs {
		font-family: $secondary-font-stack;
		font-size: 87.5%;

		p {
			display: inline;
			font-weight: 700;
		}

		ol {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline;
		}

		li {
			display: inline;

			&:not(:last-child):after {
				content: " /";
			}
		}
	}

}
